@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
    font-size: 20px;
}

header {
    padding: 15px;
    height: 25vh;
    font-size: 1rem;
}

main {
    margin: 20px;
    padding: 40px;
    height: 100%;
    /* overflow: hidden; */
    /* overflow-y: auto; */
}

footer {
    padding: 10px;
    color:antiquewhite;
    background-color: #307CBF;
    height: 50vh;
    width: 100vw;

}

h1 {
    text-align: center;
    color:blue;
    margin: 20px;
    font-size: 3rem;
}

p {
    margin: 20px;
    text-align: justify;
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    padding: 30px;
    font-size: 1.5rem;
}

nav {
    padding: 30px;
    background-color: #72C1F2;
    text-align: center;
    font-weight: 700;
}


/* 
form {
    padding: 20px;
    border: 1px solid black;
    display: inline-block;
} */