@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
    font-size: 20px;
}

header {
    margin-top: 15px;
    padding: 15px;
    height: 25vh;
    /* border: 3px solid; */
    height: 100%;
}

main {
    margin: 20px;
    padding: 20px;
    height: 100%;
    /* overflow: hidden; */
    /* overflow-y: auto; */
}

footer {
    padding: 10px;
    color:antiquewhite;
    background-color: #307CBF;
    height: 50vh;
    width: 100vw;
}

h1 {
    text-align: center;
    color:#056CF2;
    margin: 20px;
    text-align: center;
    font-size: 3rem;
    font-family: noto sans;
    /* border: 1px solid; */
}

p {
    margin: 20px;
    text-align: justify;
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    padding: 30px;
    font-size: 1.5rem;
}

nav {
    padding: 30px;
    background-color: #72C1F2;
    text-align: center;
    font-weight: 700;
}

/* 
form {
    padding: 20px;
    border: 1px solid black;
    display: inline-block;
} */