input:focus {
    color: purple;
    background-color: lightgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

a:link {
    /* CSS de link */
    text-decoration: none;
    color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a:active {
    /* Efeito de link permanecendo clicado */
    font-size: 30px;
}

a:visited {
    /* Efeito de link fica ao ser visitado */
    color: rgb(229, 49, 229);
    font-size: 50px;
}